parameters:
    level: 8
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
